/*=============== ROOT  ===============*/
:root {
  --header-height: 3rem;
  /* Colors */
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;
  /* Font and typography */
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;
  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BODY  ===============*/
body {
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--body-color);
}

/*=============== NAVIGATION ===============*/
.navbar,
.nav-link {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

.nav-link:hover {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.section__home {
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero.container {
  position: relative;
  overflow: hidden;
}

#div__particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.div__text {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

.div__text {
  width: 100%;
  max-width: 600px;
  padding: 10px;
}

section .title {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

section .title span {
  display: inline-block;
  font-size: 48pt;
  color: #41494e;
  text-transform: uppercase;
  animation: byBottom 1s ease both;
  font-weight: 600;
  letter-spacing: 0.25vw;
}

section .title span:last-child {
  font-size: 1rem;
  animation: byBottom 1s 0.25s ease both;
}

section .title span a {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  text-decoration: none;
  color: #37accc;
}

section .title span a::after {
  content: "";
  height: 2px;
  background-color: #37accc;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  animation: linkAfter 0.5s 1s ease both;
}

.home__btn {
  margin-top: 20px;
}

.btn__follow {
  background-color: #37accc;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  margin-right: 8px;
}

.btn__CV {
  padding: 8px 30px;
  border-radius: 10px;
  color: #37accc;
  border: 3px solid #37accc;
}

.btn__follow:hover,
.btn__CV:hover {
  box-shadow: 0 0 5px #37accc, 0 0 10px #37accc, 0 0 10px #37accc,
    0 0 30px #37accc;
}

/*=============== SKILLS ===============*/

.no-border .card-header,
.no-border .list-group-item {
  border: none;
}

/*=============== ANIMATION ===============*/

@keyframes fade {
  from {
    bottom: 580px;
    opacity: 1;
    transform: rotate(0deg) scale(1);
    visibility: visible;
  }
  to {
    bottom: 120%;
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }
  100% {
    width: 30px;
  }
}

/*=============== MEDIA QUERIES ===============*/
@media screen and (max-width: 320px) {
  /* Home */
  .section__home {
    height: 535px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .div__text {
    width: 100%;
    padding-top: 10px;
  }

  section .title span {
    font-size: 30pt;
  }
}
